@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=MonteCarlo&display=swap');

:root {
    --color-beige: #F0DEC5;
    --color-lightbeige: #f8f3ea;
    --color-lightgrey: #f5f5f5;
    --color-pink: #D6AEAA;
    --color-lightpink: #F4E4E4;
    --color-brown: #ddc6a6;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Playfair Display', serif;
    font-weight: normal;
}

.html {
    font-size: 100%;
}

/*-----logoet-----*/
.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 280px;
    margin-top: 20px;
}

/*-------------------------------------Navigationsbaren----------------------------------------------*/

header {
    height: 165px;
    background-color: white;
}

#menuToggle {
    display: none;
}

.topnav {
    background-color: transparent;
    overflow: hidden;
    position: sticky;
}

/* Style the links inside the navigation bar */
.topnav a {
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    color: black;
    margin-left: 1%;
    margin-right: 1%;
}

.topnav #myLinks {
    width: 100%;
    display: flex;
    justify-content: center;
}

/* Change the color of links on hover */
.topnav a:hover {
    color: var(--color-beige);
}

#understreg::after {
    content: "";
    display: block;
    position: relative;
    left: -10%;
    right: -10%;
    top: 4px;
    width: 120%;
    border-bottom: 1px solid currentColor;
}


/*------------------------------------Navigationsbar responsiv----------------------------------------*/

@media screen and (max-width: 1024px) {
    .topnav {
        display: none;
    }

    #menuToggle {
        display: block;
        position: relative;
        top: 50px;
        left: 50px;

        z-index: 1;


        user-select: none;
    }

    #menuToggle a {
        text-decoration: none;
        color: black;

        transition: color 0.3s ease;
    }

    #menuToggle a:hover {
        color: black;
    }

    #menuToggle input {
        display: block;
        width: 40px;
        height: 32px;
        position: absolute;
        top: -7px;
        left: -5px;

        cursor: pointer;

        opacity: 0;
        /* hide this */
        z-index: 2;
        /* and place it over the hamburger */
    }

    #menuToggle span {
        display: block;
        width: 33px;
        height: 4px;
        margin-bottom: 5px;
        position: relative;

        background: black;
        border-radius: 3px;

        z-index: 1;

        transform-origin: 4px 0px;

        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
            background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
            opacity 0.55s ease;
    }

    #menuToggle span:first-child {
        transform-origin: 0% 0%;
    }

    #menuToggle span:nth-last-child(2) {
        transform-origin: 0% 100%;
    }

    /* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
    #menuToggle input:checked~span {
        opacity: 1;
        transform: rotate(45deg) translate(-2px, -1px);
        background: black;
    }

    /*
 * But let's hide the middle one.
 */
    #menuToggle input:checked~span:nth-last-child(3) {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
    }

    /*
 * Ohyeah and the last one should go the other direction
 */
    #menuToggle input:checked~span:nth-last-child(2) {
        transform: rotate(-45deg) translate(0, -1px);
    }

    /*
 * Make this absolute positioned
 * at the top left of the screen
 */
    #menu {
        position: absolute;
        width: 300px;
        margin: -100px 0 0 -50px;
        padding: 50px;
        padding-top: 125px;

        background: transparent;
        list-style-type: none;

        /* to stop flickering of text in safari */

        transform-origin: 0% 0%;
        transform: translate(-100%, 0);

        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
    }

    #menu li {
        padding: 10px 0;
        font-size: 22px;
    }

    /*
 * And let's slide it in from the left
 */
    #menuToggle input:checked~ul {
        transform: none;
    }
}

/*-------------------------------Login formel-------------------------------------*/

h1 {
    font-weight: normal;
    margin: 0px;
}

h3 {
    font-weight: normal;
    margin: 0px;
    margin-bottom: 10px;
    background-image: linear-gradient(to right, #d6aeaa, #aa7671);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    letter-spacing: 1.5px;
}

h2 {
    text-align: right;
}

p {
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 20px 0 30px;
}

span {
    font-size: 15px;
}

a {
    color: #333;
    font-size: 16px;
    text-decoration: none;
}

button {
    border-radius: 5px;
    border: 1px solid #ece8e7;
    background-color: #fde9e5;
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
}

button:active {
    transform: scale(0.95);
}

button:focus {
    outline: none;
}

button.ghost {
    background-color: transparent;
    border-color: #ffffff;
}

form {
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 30px;
    height: 80%;
    text-align: center;
}

.container {
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
        0 10px 10px rgba(0, 0, 0, 0.22);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
    display: block;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 150px;
}

.form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.sign-in-container {
    left: 0;
    width: 50%;
    z-index: 2;
}

.container.right-panel-active .sign-in-container {
    transform: translateX(100%);
}

.sign-up-container {
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.container.right-panel-active .sign-up-container {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: show 0.6s;
}

@keyframes show {

    0%,
    49.99% {
        opacity: 0;
        z-index: 1;
    }

    50%,
    100% {
        opacity: 1;
        z-index: 5;
    }
}

.overlay-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 100;
}

.container.right-panel-active .overlay-container {
    transform: translateX(-100%);
}

.overlay {
    background: var(--color-lightpink);
    background: -webkit-linear-gradient(to right, #f8f3ea, #d6aeaa);
    background: linear-gradient(to right, #f0dec5, #d6aeaa);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    color: #FFFFFF;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.container.right-panel-active .overlay {
    transform: translateX(50%);
}

.overlay-panel {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    top: 0;
    height: 100%;
    width: 50%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.overlay-left {
    transform: translateX(-20%);
}

.container.right-panel-active .overlay-left {
    transform: translateX(0);
}

.overlay-right {
    right: 0;
    transform: translateX(0);
}

.container.right-panel-active .overlay-right {
    transform: translateX(20%);
}

/*
.social-container {
	margin: 20px 0;
}


.social-container a {
	border: 1px solid #DDDDDD;
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0 5px;
	height: 40px;
	width: 40px;
}
*/



.my_form-control {
    width: 100%;
    padding: 8px;
    padding-top: 18px;
    border: none;
    border-bottom: 1pt solid #bfbfbf;
    transition: all 200ms ease-in-out;
}

.form-group {
    position: relative;
}

label {

    width: 100%;
}

.my_place {
    position: absolute;
    pointer-events: none;
    top: 25px;
    left: 5px;
    color: var(--color-pink);
    transition: 0.2s ease all;


}

.my_form-control:focus {
    width: 100%;
    padding: 8px;
    padding-top: 18px;
    border: none;
    border-bottom: 2px solid var(--color-pink);
    outline: none;
}




input:focus~.my_place,
input:not(:focus):valid~.my_place {
    top: -5px;
}



.btn {
    border-radius: 5px;
    box-shadow: 0 3px 4px var(--color-pink);
    background-image: linear-gradient(to right, #d6aeaa, #d6aeaa, #f0dec5);
    background-size: 200%;
    width: 200px;
    border: none;
    outline: none;
    transition: .3s ease-in-out;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    padding: 10px 35px;
    letter-spacing: 1px;
    margin-bottom: 10px;
    font-family: 'Playfair Display', serif;
}

.btn:hover {
    background-position: right;
}



.btn:focus,
.btn:active,
.btn:active:focus {
    outline: none !important;
    box-shadow: 0 3px 4px #f4e4e4 !important;
}

.forgot {
    font-size: 12px;
    color: #ccc;
    cursor: pointer;
    margin-top: 20x;
}


.udfyld {
    font-size: 12px;
    color: #ccc;
    margin-top: 5px;
    margin-bottom: 5px;

}


.login-box {
    background: #fff;
    padding: 15px;
    max-width: 480px;
    margin: 25vh auto;
    text-align: center;
    letter-spacing: 1px;
    position: absolute;
    margin-bottom: -200px;

}



.login-box h2 {
    margin: 15px 0 20px;
    padding: 0;
    text-transform: uppercase;
    color: #4688F1;
}

.social-button {
    background-position: 25px 0px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: inline-block;
    height: 45px;
    line-height: 45px;
    text-align: left;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: middle;
    width: 100%;

    border-radius: 3px;
    margin: 3px auto;
    outline: rgb(255, 255, 255) none 0px;
    padding-left: 30%;
    transition: all 0.2s cubic-bezier(0.72, 0.01, 0.56, 1) 0s;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;

}

#facebook-connect {
    background: rgb(255, 255, 255) url('https://raw.githubusercontent.com/eswarasai/social-login/master/img/facebook.svg?sanitize=true') no-repeat scroll 5px 0px / 30px 50px padding-box border-box;
    border: 1px solid rgb(60, 90, 154);
}

#facebook-connect:hover {
    border-color: rgb(60, 90, 154);
    background: rgb(60, 90, 154) url('https://raw.githubusercontent.com/eswarasai/social-login/master/img/facebook-white.svg?sanitize=true') no-repeat scroll 5px 0px / 30px 50px padding-box border-box;
    -webkit-transition: all .8s ease-out;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease-out;
}

#facebook-connect span {
    box-sizing: border-box;
    color: rgb(60, 90, 154);
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    border: 0px none rgb(255, 255, 255);
    outline: rgb(255, 255, 255) none 0px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    font-size: 12px;
}

#facebook-connect:hover span {
    color: #FFF;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

#google-connect {
    background: rgb(255, 255, 255) url('https://raw.githubusercontent.com/eswarasai/social-login/master/img/google-plus.png') no-repeat scroll 5px 0px / 50px 50px padding-box border-box;
    border: 1px solid rgb(220, 74, 61);
}

#google-connect:hover {
    border-color: rgb(220, 74, 61);
    background: rgb(220, 74, 61) url('https://raw.githubusercontent.com/eswarasai/social-login/master/img/google-plus-white.png') no-repeat scroll 5px 0px / 50px 50px padding-box border-box;
    -webkit-transition: all .8s ease-out;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease-out;
}

#google-connect span {
    box-sizing: border-box;
    color: rgb(220, 74, 61);
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    border: 0px none rgb(220, 74, 61);
    outline: rgb(255, 255, 255) none 0px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    font-size: 12px;
}

#google-connect:hover span {
    color: #FFF;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}


/*---------------------------------footer----------------------------------*/
*,
*:before,
*:after {
    box-sizing: border-box;
}

.footer {
    padding: 30px;
    background-color: var(--color-lightbeige);
    list-style: none;
    display: flex;
    justify-content: center;
    font-size: 15px;
}

h2 {
    font-weight: bold;
    font-size: 15px;
    color: black;
    padding-left: 100px;
    padding-right: 100px;
    text-align: center;
    margin-bottom: 20px;
}

.box {
    color: black;
    list-style: none;
    line-height: 30px;
    padding-left: 100px;
    padding-right: 100px;
    text-align: center;
}

.someicon {
    width: 30px;
    margin-top: 20px;
    margin-left: 5px;
    margin-right: 5px;
}


/*-------------------------------footer responsiv---------------------------------*/
@media screen and (max-width: 1024px) {
    .footer {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        padding: 0;
    }

    .box {
        padding: 10px;
        text-align: center;
        width: 400px;
        justify-content: center;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    h2 {
        padding-top: 10;
        text-align: center;
        width: 400px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}